name: Test branch

on:
    workflow_dispatch:

    pull_request:
        branches: [main, develop]

jobs:
    test:
        permissions:
            contents: read
        name: test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - uses: actions/setup-node@v6
              with:
                  node-version: 22

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: npm-${{ hashFiles('package-lock.json') }}
                  restore-keys: npm-

            - name: Install dependencies
              run: npm ci --ignore-scripts

            - name: Build
              run: npm run build
